<table>
  <tr>
    <td><%= builder.label :line1 %></td>
    <td><%= builder.text_field :line1 %></td>
  </tr>
  <tr>
    <td><%= builder.label :line2 %></td>
    <td><%= builder.text_field :line2 %></td>
  </tr>
  <tr>
    <td><%= builder.label :city %></td>
    <td><%= builder.text_field :city %></td>
  </tr>
  <tr>
    <td><%= builder.label :state %></td>
    <td><%= builder.text_field :state %></td>
  </tr>
  <tr>
    <td><%= builder.label :zip %></td>
    <td><%= builder.text_field :zip %></td>
  </tr>
  <tr>
    <td><%= builder.label :country %></td>
    <td><%= builder.country_select :country %></td>
  </tr>
</table>
