<div id = "search-fields">
  <%= text_field_tag :search_term, nil, :placeholder => "Enter Search Query", :onkeyup => "get_results()" %>
</div>
<% if @customers.empty? %>
  <p>Currently there are no customers in the database..You can add more customers by 
    <%= link_to "importing CSV", upload_csv_customers_path %> or you can simply get started by visiting <%= link_to "here", new_customer_path %>
  </p>
<% else %>
  <div id = "main-div">
    <div class="pagination pagination-centered">
      <%= paginate @customers %>
    </div>
    <%= link_to "New Customer", new_customer_path, :class => "btn" %>
    <%= link_to "Import CSV", upload_csv_customers_path, :class => "btn" %>
    <%= link_to "Merge Contacts", start_merge_contacts_customers_path, :class => "btn" %>
    <%= form_tag export_to_csv_customers_path do %>
      <table class="table table-hover">
        <th><%= check_box_tag :checkall %></th>
        <th><%= check_box_tag "columns[]", "name" %>Name</th>
        <th><%= check_box_tag "columns[]", "address" %>Address</th>
        <th><%= check_box_tag "columns[]", "emails" %>Emails</th>
        <th><%= check_box_tag "columns[]", "phone_numbers" %>Phone</th>
        <th><%= check_box_tag "columns[]", "special_note" %>Special Note</th>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= check_box_tag 'customer_ids[]', customer.id %></td>
            <td><%= link_to "#{customer.name}", customer %></td>
            <td><%= customer.address.complete_address %></td>
            <td>
              <table class="table">
                <% customer.emails.each do |email| %>
                  <tr>
                    <td><b><%= email.email_type %></b></td>
                    <td><%= email.address %></td>
                  </tr>
                <% end %>
              </table>
            </td> 
            <td>
              <table class="table">
                <% customer.phone_numbers.each do |phone| %>
                  <tr><td><b><%= phone.phone_type %>:</b></td><td><%= phone.phone %> </td></tr>
                <% end %>
              </table>
            </td>
            <td><%= customer.special_note.description %></td>
            <td>
              <%= link_to "Edit", edit_customer_path(customer) %>
              <%= link_to 'Delete', customer, :method => :delete, :confirm => "Are You Sure to delete this customer?" %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="export-button">
        <%= submit_tag "Export to CSV", :class => "export-csv btn btn-success btn-large" %>
        <%#= submit_tag "Export Labels", :class => "export-csv btn btn-success btn-large" %>
      </div>
    <% end %>
  </div>
<% end %>

<div id="search-results">
</div>