<!DOCTYPE html>
<html>
<head>
  <title>Customer Relationship Management</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <h1>Welcome to CRM</h1>
    <h3><%= link_to 'Home', root_path %></h3>
  </div>
  <div class = "part">
    <% flash.each do |key, msg| %>
      <div class="alert alert-block" id = <%= key %>>
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= msg %>
    <% end %>
  </div>
  <div class="logged-in">
    <% if admin_signed_in? %>
      <div class="btn-group">
        <button class="btn btn-info"><%= current_admin.username %></button>
        <button class="btn dropdown-toggle btn-info" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to current_admin.username, current_admin %></li>
          <li><%= link_to "Logout", destroy_admin_session_path %></li>
        </ul>
      </div>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
